.form-group.mb-3(method="POST" action="/articles")
  label(for="title") Title
  input.form-control(type="text" name="title" id="title" placeholder="Title" required)
.form-group.mb-3
  label(for="content") Description
  textarea.form-control(name="content" id="content" rows="5" placeholder="Description" required)
.form-group.mb-3
  label(for="markdown") Markdown
  textarea.form-control(name="markdown" id="markdown" rows="10" placeholder="Markdown" required)

a.btn.btn-secondary.mr-4(href="/articles") Cancel
button.btn.btn-primary(type="submit") Save
